<!DOCTYPE html>
<html lang="en">
<head>
   <title>IMS Login - INVENTORY MANAGEMENT SYSTEM </title>
</head>
<body>
    <div>
        <div class="LoginHeader">
            <h1>IMS</h1>
            <h3>INVENTORY MANAGEMENT SYSTEM</h3>
        </div>
        <div class="LoginBody">
            <form action="">
                <div>
                    <label for="">Username</label>
                    <input type="text"/>
                </div>
                <div>
                <label for="">Password</label>
                <input type="password"/>
            </div>
            <div>
                 <button>login</button>
           </div>
         
            </form>
        </div>
    </div>
    









